<? INC Header.tmpl ?>

<pre class="log"><? VAR Log ?></pre>

<link href="<? VAR ModFilesPath TOP ?>style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<? VAR ModFilesPath TOP?>highlight.js"></script>

<? INC Footer.tmpl ?>